.logoArea {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  pointer-events: none;
}

.logoImage {
  opacity: 0;
  transition: opacity 1s;
  width: 60px;
  height: auto;
}

.logoArea.active .logoImage {
  opacity: 1;
}

@media (max-width: 767px) {
  .logoArea {
    bottom: 40px;
  }

  .logoImage {
    width: 48px;
  }
}
